@{
    ViewData["Title"] = "Add Course";
}

@model ZealEducationSystem.Models.Course
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active"><a asp-controller="Home" asp-action="Add_Course">Add Course</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h1>ADD COURSE</h1>
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" method="post" enctype="multipart/form-data">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-username">
                                        COURSE Code <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input asp-for="CourseCode" type="text" class="form-control" required  placeholder="Create a Course Code..">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-email">
                                        Course Name <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input  asp-for="CourseName" type="text" class="form-control" required placeholder="Enter Course Name..">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-email">
                                        Course Description <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input asp-for="CourseDescription" type="text" class="form-control" required placeholder="Enter Course Description..">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-password">
                                        Course Fee <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input asp-for="CourseFees" type="text" class="form-control" required  placeholder="Enter Course Fee.....">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-password">
                                        Course Length <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" asp-for="CourseLength" class="form-control" required  placeholder="Enter Course Length.....">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-phoneus">
                                        Thumbnail <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="file" required class="form-control" id="val-phoneus" name="coursethumbnail" placeholder="inset image........">
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <input value="Submit" type="submit" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>