<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label"><b>FACULTY DASHBOARD</b></li>
            <li>
                <a class="has-arrow" asp-controller="Facultypanel" asp-action="Index" aria-expanded="false">
                    <i class="icon-graph menu-icon"></i> <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-graph menu-icon"></i> <span class="nav-text">Students</span>
                </a>
                <ul aria-expanded="false">
                    <li><a asp-controller="Facultypanel" asp-action="Show_Student">Show Students</a></li>
                    <li><a asp-controller="Facultypanel" asp-action="Add_Student">Add Students</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-graph menu-icon"></i><span class="nav-text">Batch</span>
                </a>
                <ul aria-expanded="false">
                    <li><a asp-controller="Facultypanel" asp-action="Show_Batch">Show Batch</a></li>
                    <li><a asp-controller="Facultypanel" asp-action="Add_Batch">Add Batch</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-graph menu-icon"></i> <span class="nav-text">Course </span>
                </a>
                <ul aria-expanded="false">
                    <li><a asp-controller="Facultypanel" asp-action="Show_Course">Show Course </a></li>
                    <li><a asp-controller="Facultypanel" asp-action="Add_Course">Add Course</a></li>

                </ul>
            </li>
            
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-graph menu-icon"></i> <span class="nav-text">Exam Marks </span>
                </a>
                <ul aria-expanded="false">
                    <li><a asp-controller="Facultypanel" asp-action="Show_ExamMark">Show Exam Marks </a></li>
                    <li><a asp-controller="Facultypanel" asp-action="Add_ExamMark">Add Exam Marks</a></li>

                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-graph menu-icon"></i> <span class="nav-text">Exam </span>
                </a>
                <ul aria-expanded="false">
                    <li><a asp-controller="Facultypanel" asp-action="Show_Exam">Show Exam  </a></li>
                    <li><a asp-controller="Facultypanel" asp-action="Add_Exam">Add Exam </a></li>

                </ul>
            </li>
          
        </ul>
    </div>
</div>
