<div class="nav-header">
    <div class="brand-logo">
        <a>
            <b class="logo-abbr">
<h2 style="color:white">Z</h2>                
               </b>
            <span class="logo-compact"><img src="~/images/logo-compact.png" alt=""></span>
            <span class="brand-title">
                <h5 class="text-sm-center" style="color:white">Zeal Education</h5>
            </span>
        </a>
    </div>
</div>
